.margin-sup{
	margin-top: 70px;
	margin-bottom: 30px;
}

.margino-paginate{
  margin-top: 30px;
}

.margin_inferior{
  margin-bottom: 30px;
}

.sublinhado{
  text-decoration: underline;

}.negrito{
  font-weight: bold;
}

.icone_pequeno{
  font-size: 17px;
  padding-bottom: 1px; 
}

.icone_medio{
  font-size: 20px;
}

.alinhar {
  padding-bottom: 5px;
  font-size: 20px;  
}

.icon-login{
  font-size: 100px;
}

.label-login{
  margin-top: 6px;
  font-size: 18px;
}

.login-title {
  /* margin-top: 20px;
  margin-bottom: 20px; */
  background-color: rgba(156, 109, 199, 0.664);
}

.login-title h3 {
  color: white; 
}

.icon-menu span{
  color: white;
}
.text-register{
  color: white;
  font-size: 20px;
}

body{
  background-color: rgba(141, 80, 199, 0.877);
}

nav-root div a{
  color: #fff;
}

.bread-nav ol{
  background-color: rgba(141, 80, 199, 0.877);
}

.theme-list li{
  margin:10px;
  background-color: rgba(253, 252, 253, 0.705);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-shedow{
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.img-shedow{
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.3);
}

.bread-nav ol li{
  color: rgb(227, 235, 236);
}

img {
 
  /* max-width: 250;
  max-height: 250px;
  overflow: hidden; */
}


/* CSS FLEXBOX 1 */

.flex {
  display: flex;
  flex-wrap: wrap;
  /* max-width: 800px; */
  margin: 0 auto;
}

/* minimo 200px */
.flex > div {
  flex: 1 1 300px;
  margin: 10px;
}

.flex > div > p {
  flex: 1 1 300px;
  margin: 10px;
}

/* likes  */

.grid3-item p {
  /* background: rgba(0, 0, 0, .4); */
  padding: 10px;
  color: white;
  grid-column: 1;
  grid-row: 2;
  align-self: end;
}


.likes {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

/* minimo 200px */
.likes > span {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  color: grey;
  margin-top: -30px;
  /* cursor: pointer; */
}

span span{
  color: rgb(228, 228, 240);
}


.up:hover{
/* box-shadow:2px 2px 15px 2px grey; */
cursor:pointer;
color: rgb(8, 230, 82);
/* font-size: 30px; */
}

.up:active{
transition: width 0s, height 0s;
color: #fff;
font-size: 30px;
}

.down:hover{
  /* box-shadow:2px 2px 15px 2px grey; */
  cursor:pointer;
  color: rgb(58, 25, 27);
  /* font-size: 30px; */
  }
  
  .down:active{
  transition: width 0s, height 0s;
  color: rgb(46, 39, 41);
  font-size: 30px;
  }

  .legend{
    color: rgb(247, 245, 248);
    font-size: 20px;
    line-height: 1.1;
   
    /* background: rgba(0, 0, 0, .4); */
  }

.theme-conteiner{
  display: flex;
  justify-content: space-between;
}


.theme-item{
  margin: 5px;
	padding: 0 10px;
	
	text-align: center;
	font-size: 1.5em;
}

a[href="#top"]{
  padding:10px;
  position:fixed;
  top: 90%;
  right:50px;
  display:none;
  font-size: 40px;
  color: white;
}
a[href="#top"]:hover{
  text-decoration:none;
}